* {
	box-sizing: border-box;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0 auto;
}

h1 {
	background-color: #4aaaa5;
	padding: 20px;
	position: relative;
	left: 100px;
	top: 0px;
	float: left;
	margin: 0px;
	color: white;
	font-family: Georgia, Times, "Times New Roman", serif;
	border: 2px solid black;
}

#links {
	padding: 10px;
	background-color: white;
	float: right;
	top: 20px;
	right: 200px;
	position: relative;
	display: inline-flex;
	border: 2px solid green;
	width: 270px;
}

.LinkAbout {
	padding: 5px;
	width: 33%;
	border: 2px solid black;
}

.LinkPort {
	padding: 5px;
	width: 33%;
	border: 2px solid black;
}

.LinkContact {
	padding: 5px;
	width: 33%;
	border: 2px solid black;
}

.container {
	clear: both;
	background-image: url(../images/vertical-waves.png);
	margin-top: 80px;
	border: 2px solid blue;
}


p {
	clear: both;
	line-height: 32px;
}
.MainSection {
	
}

#section2 {
	padding: 10px;
	width: 650px;
	position: relative;
	left: 100px;
	background-color: white;
}





h2 {
	font-family: Georgia, Times, "Times New Roman", serif;
}

h3 {
	font-family: Georgia, Times, "Times New Roman", serif;
}

footer {
	padding:20px;
	text-align: center;
	background-color: #666666;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	
}